---
import { landingContent } from "~/ui/contents/landing";

const { about } = landingContent;
---

<!-- About Section -->
<div id="about" class="py-24 bg-base-100">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="max-w-2xl mb-12 mx-auto text-center">
      <h2
        class="text-3xl font-bold tracking-tight text-base-content sm:text-4xl"
      >
        {about.title}
      </h2>

      <p class="mt-6 text-lg leading-8 text-base-content/70">
        {about.description}
      </p>
    </div>

    <div class="card bg-base-200 border border-base-300">
      <div class="card-body max-w-4xl mx-auto">
        <h3 class="card-title text-2xl mb-6 text-primary">
          {about.mission.title}
        </h3>
        {
          about.mission.paragraphs.map((p) => (
            <p class="text-lg leading-relaxed text-base-content/80 mb-4">
              {p}
            </p>
          ))
        }
      </div>
    </div>
  </div>
</div>
