---
import Layout from "~/ui/components/layouts/Layout.astro";

export const prerender = false;
---

<Layout title="Playground">
  <div class="h-screen flex flex-col overflow-hidden bg-base-100">
    <main class="flex-1 overflow-hidden relative">
      Coming Soon
    </main>
  </div>
</Layout>
