---
import "~/ui/styles/global.css";
import CTA from "~/ui/components/landing/CTA.astro";
import Footer from "~/ui/components/landing/Footer.astro";
import Hero from "~/ui/components/landing/Hero.astro";
import TrustedBy from "~/ui/components/landing/TrustedBy.astro";
import Services from "~/ui/components/landing/Services.astro";
import Methodology from "~/ui/components/landing/Methodology.astro";
import About from "~/ui/components/landing/About.astro";
import Layout from "~/ui/components/layouts/Layout.astro";
import { landingContent } from "~/ui/contents/landing";
---

<Layout title={landingContent.metadata.title}>
  <main class="flex-1 mt-20 py-8">
    <Hero />
    <TrustedBy />
    <Services />
    <Methodology />
    <About />
    <CTA />
  </main>

  <Footer />
</Layout>
